html, body {
	height: 100%;
}

#header {
	position: fixed;
	z-index: 1;
	width: 100%;
	background: $green;

	a {
		color: $white;

		&:hover,
		&:focus {
			color: darken($white, 10%);
		}
	}
}

.banner {
	margin-bottom: 375px;
	width: 100%;
	height: 100%;
	text-align: center;
	background: $green;

	h1 {
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $white;
	}

	h3 {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: $padding-small;
		height: auto;
		color: $white;
		background: darken($green, 10%);
		border-color: darken($green, 10%);

		&:hover,
		&:focus {
			background: darken($green, 15%);
		}
	}

	img {
		position: absolute;
		top: 60%;
		transform: translateX(-50%)
	}
}

footer {
	margin-bottom: $margin-large;
}

#main {
	padding-top: $padding-large * 2;
	padding-bottom: $padding-large * 2;
}

.subtitle {
	color: $grey;
}
