// Grid System
// --------------------------------------------------

.container {
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-right: $padding-medium;
	padding-left: $padding-medium;
	@extend .clearfix;

	@media (min-width: $screen-small-min) {
		width: $screen-small-min - $padding-medium * 2;
	}

	@media (min-width: $screen-medium-min) {
		width: $screen-medium-min - $padding-medium * 2;
	}

	@media (min-width: $screen-large-min) {
		width: $screen-large-min - $padding-medium * 2;
	}
}

.grid {
	display: block;
	margin-right: -$margin-medium;
	margin-left: -$margin-medium;
	@extend .clearfix;
}

.cell-12,
.cell-11,
.cell-10,
.cell-9,
.cell-8,
.cell-7,
.cell-6,
.cell-5,
.cell-4,
.cell-3,
.cell-2,
.cell-1,
.cell-0,
.cell {
	display: block;
	float: left;
	min-height: 1px;
	padding-right: $padding-medium;
	padding-left: $padding-medium;
}

.push-12,
.push-11,
.push-10,
.push-9,
.push-8,
.push-7,
.push-6,
.push-5,
.push-4,
.push-3,
.push-2,
.push-1,
.pull-12,
.pull-11,
.pull-10,
.pull-9,
.pull-8,
.pull-7,
.pull-6,
.pull-5,
.pull-4,
.pull-3,
.pull-2,
.pull-1 {
	position: relative;
}

@include cell-variant();
@include offset-variant();
@include push-variant();
@include pull-variant();
@include grid-responsive(tablet, $screen-x-small-max);
@include grid-responsive(desktop, $screen-small-max);
