h1.splash-head {font-size:4em; display: inline-block}
.logo {display: inline-block; width: 100px; padding: 0}

@media screen and (min-width: 320px) and (max-width: 480px) {
	body {font-size:.7em}
	h1 {font-size:16px;display: inline-block}
	h4.yellow{display: block; clear:both}
	.floatme{float:left}
	.hide {display:none}
	.pure-menu a, .pure-menu .pure-menu-heading {padding: 5px 5px 5px 20px}
	.pure-menu li a {padding: 5px}
	.splash {margin: 0 auto}
	.logo {display: inline-block; width: 70px; padding: 0}
}
