body {
  font-family:"Noto Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, Geneva, sans-serif;
  font-size:16px; overflow-y:scroll; line-height:1.7
}
a {color:#499232}
a:hover {color:#72B65D}
p {margin-bottom:15px}

.navbar {margin-bottom:0}
.navbar > .container {max-width:975px}
.navbar-nav > li > a {font-size:14px}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {color:#eee}
.navbar-brand {position:relative; padding-left:40px}
.navbar-brand > img {position:absolute; height:20px; width:auto; top:15px; left:15px}

.btn-lime {
  background-color:#86A338;
  border-color:#5E7227;
  color:#fff;
}
.btn-lime:hover,
.btn-lime:focus, .btn-lime.focus,
.btn-lime:active, .btn-lime.active,
.open > .dropdown-toggle.btn-lime {
  background-color:#A2C644;
  border-color:#718A2F;
  color:#fff;
}

.forkme {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 1001;
}

.menu-fixed{
    position:   fixed;
    text-align: center;
    top:        0;
    width:      100%;
    z-index    9999
}

.points:after{
    content: ' ·';
}

.points:before{
    content: '· ';
}

.text-yellow {color:#f39c12}

#hero {
  background-image:url('../img/hero.jpg');
  background-position:center;
  background-repeat:no-repeat;
  background-color:#000;
  padding:60px 15px 40px; color:#fff; font-size:20px;
  text-shadow:3px 3px 0 #000
}
#hero > img {width:150px}
#hero > h1 {letter-spacing:1px}

#introduction {font-size:20px; padding:50px 0}
#introduction-links {margin-bottom:15px}
#introduction-links .btn {padding-left:0; padding-right:0; margin:5px 0}

#blog-short {font-size:20px}
#blog-short h2 {margin:0}
#blog-short table {width:100%; margin:10px 0}
#blog-short td {padding:5px 10px; vertical-align:top}
.blog-short-date {min-width:80px}

#rss-link, #rss-link:hover {color:#f39c12; text-decoration:none}
#blog-posts {}
#blog-posts > li:first-child {border-top:0}
#blog-posts > li {padding:15px 0; border-top:1px solid #eee}
#blog-posts > li > h3 {margin-top:15px}

.img-responsive:hover{
    box-shadow: 0 0 1em grey;
}
.paginator {margin:15px 0}
.paginator > .btn {min-width:100px; margin:5px 0}

footer {background-color:#222; color:#fff; border-top:1px solid #080808; padding:10px 15px}
.extended-footer {background-color:#272822; color:#fff; padding:50px 0; margin-top:15px}

.committer-list {margin-bottom:30px}
.committer-list > li > a {display:block; margin:5px 0}
.committer-list > li > a > img {width:40px; height:auto; border-radius:50%; background-clip:padding-box; box-shadow:0 2px 1px #000}

/* responsive */

@media all screen and(max-width: 1300px){
    .img-responsive{
        height: 600px;
        width: 95%;
    }
}

@media (max-width:767px) { /* xs */
  #introduction, #blog-short {font-size:16px}
}

@media (min-width:768px) and (max-width:991px) { /* sm */
  
}

@media (min-width:992px) and (max-width:1199px) { /* md */
  
}

@media (min-width:1200px) { /* lg */

}

@media all screen and(max-width: 490px){
    .img-responsive{
        height: auto;
    }

}
