---
layout: default
title: Lime's latest news
---

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
      <h1>
        Our Latest Stories
        <small> <a id="rss-link" href="/blog/rss.xml"><i class="fa fa-rss-square"></i> RSS</a></small>
      </h1>
      
      <ul id="blog-posts" class="list-unstyled">
        {% for post in paginator.posts %}
        <li>
          <h3>
            <i class="fa fa-angle-double-right"></i>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <small>&mdash; {{ post.date | date_to_string }}</small>
          </h3>
          {{ post.content }}
        </li>
        {% endfor %}
      </ul>
      
      <div class="paginator clearfix">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="btn btn-default pull-left">
            <i class="fa fa-chevron-left"></i>
            Previous
          </a>
        {% endif %}

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="btn btn-default pull-right">
            Next
            <i class="fa fa-chevron-right"></i>
          </a>
        {% endif %}
      </div>
    </div>
	</div>
</div>

{% include extended_footer.html %}
