<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/assets/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/fav.ico">
</head>

<body>
    <section class="site">
        
        <header class="main">
            <hgroup class="header">
                <h1 class="title"><a href="/">{{ site.name }}</a></h1>
                <a class="extra" href="/">home</a>
                <a class="extra" href="/allposts.html">all updates</a>
            </hgroup>
        </header>

        <section class="main">

            {{ content }}

        <section>

        <footer class="footer">
            <p class="well">
                View it on <a href="https://github.com/limetext/lime">github</a>
            </p>
            <h4 class="well">Please help! This is not the final Version of the Website. Nor are these the final colors. Feel free to contribute.</h4>
        </footer>
</section>

</body>
</html>
