<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.name }}">
    <meta name="author" content="The Lime Text Project Developers">
    <meta name="keywords" content="lime, lime text, lime text editor,
              open source, open source editor, code editor, programming">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </head>
  <body>
    <div class="navbar navbar-static-top navbar-inverse navbar-fixed" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="/favicon.ico" alt="Lime Text">
          Lime Text
        </a>
      </div>

      <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        {% for link in site.nav %}
          {% assign active = nil %}
          {% if page.url == link.url or page.layout == link.layout %}
            {% assign active = 'class="active"' %}
          {% endif %}
          <li {{ active }}><a href="{{ link.url }}">{{ link.text }}</a></li>
        {% endfor %}
      </ul>
      </nav>
    </div>
    </div>

    <!-- TODO: make post paging and drop direct links to the posts
     and `page.ispost`-->
    {{ content }}
    
    {% if page.ispost == nil %}
    <footer class="text-center small">
      Logo <a href="http://openclipart.org/detail/8598/lime-variations-by-gerald_g-8598">designed by Gerald G.</a>. We &hearts; contributions! Want to improve this website? Fork it <a href="https://github.com/limetext/limetext.github.io">from here</a>.
    </footer>
    {% endif %}
    
    <a class="forkme hidden-xs" href="https://github.com/limetext/lime">
      <img src="https://github-camo.global.ssl.fastly.net/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png">
    </a>
  </body>
</html>
